@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

                                /* Nav bar */


.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 13vh;
    background-color: #26324a;
    font-family: 'Poppins', sans-serif;
    position: sticky;
    top: 0%;
    z-index: +1;
    padding: 0 10px;
    
}


.ins_name{
    color: rgba(255, 255, 255, 0.918); 
    font-weight: 900;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-top: auto;
    padding: 20px;

}

.nav-links li a{
  color: rgba(255, 255, 255, 0.918); 
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  padding: 10px;
  transition: 0.4s ease-in all;
  
}

.nav-links li a:hover{
    box-shadow: 0px 0px 15px -1px #0c1527;
    background-color: #26324a;
    cursor: pointer;
    border-bottom: 2px solid rgba(255, 255, 255, 0.918);
}

li{
    list-style: none;
}


.burger{
    display: none;
}



.burger div{
    width: 25px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.918); 
    margin: 5px;
    transition: 0.5s ease all;
}


/* .navbar1{ background-color:#26324a;
}
.butt{
 background-color:#26324a;
border-color:#26324a;
margin-right:15px;
}
#nav{
float:left;
margin:0 0 0 0%; }
.nit{
margin-left:-100px;
display:inline;
font-family:pangolin;
letter-spacing:1px; word-spacing: 2px;
color:white;}
img{
margin-left:20px;}


.butt1{
margin-right:40px;
background-color:#26324a;
border-color:#26324a;
}

img{
width:250px;
height:250px;
border-radius:50%;}

#image{
position:absolute;
right:160px;}

#ema{position:absolute;
top:270px;
right:60px;
color:#26324a;}

#third1{
float:left;
left:10px;
margin-left:100px;
width:50%;
}
#first1{
float:right;
width:50%;
margin-left:450px;
margin-right:80px;
border: 1px solid transparent;
border-top: 1px solid #7f7d7c;
border-right: 1px solid #7f7d7c;
height:300px;
padding-right:30px;
padding-top:15px;
}
.head1{
color:#7f7d7c;
}
.icon_image{
width:50px;height:50px;
} */

@media screen and (max-width:1100px){
    body{
      overflow-x: hidden;
  }

  .nav{
      position: sticky;
      top: 0%;
      
  }

  .nav-links{
      position: fixed;
      right: -50%;
      height: 87vh;
      background-color: #26324a;
      top: 13vh;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      text-align: center;
      width: 50%;
      transition: 0.5s ease-in;
      overflow: hidden;
  }

  .nav-links li{
      opacity: 0;
  }


  .burger{
      display: block;
      cursor: pointer;
  }

}

@media screen and (max-width:500px){

    body{
        overflow-x: hidden;
    } 

    .nav{
        position: sticky;
        top: 0%;
        padding: 10px 20px;
        text-align: center;
    }

    .nav-links{
        right: -100%;
        width: 100%;
    } 
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}


.nav-active{
    right: 0%;
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px , 6px);

}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px , -6px);
}

