@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

                                /* Nav bar */
html{
    scroll-behavior: smooth;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 13vh;
    background-color: #26324a;
    font-family: 'Poppins', sans-serif;
    position: sticky;
    top: 0%;
    z-index: +1;
    padding: 10px 10px;
    border-bottom: 1px solid rgb(196, 196, 196);
    
}
.nav-first img{
    /* margin-left: -150px; */
}
.nav-first p{
    color: #fff;
    margin-left: 45px;
    margin-top: -10px;
}

.logo{
    display: inline;
    color: rgba(255, 255, 255, 0.918); 
    font-weight: 900;
    padding: 0px;
    font-size: 25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 50%;

}

.nav-links li a{
  color: rgba(255, 255, 255, 0.918);
  background-color: transparent;
  border-color: transparent;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  transition: 0.3s ease-in all;
}
.nav-links li button{
    color: rgba(255, 255, 255, 0.918);
    background-color: transparent;
    border-color: transparent;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    transition: 0.3s ease-in all;
  }

.nav-links li a:hover{
    color: #ff9800;
    cursor: pointer;
}
.nav-links li button:hover{
    color: #ff9800;
    cursor: pointer;
}

li{
    list-style: none;
}


.burger{
    display: none;
}



.burger div{
    width: 25px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.918);
    margin: 5px;
    transition: 0.5s ease all;
}


                                            /* navbar ends */
                                            /* main starts */
.main-part{
    background-image: url("https://images.pexels.com/photos/220634/pexels-photo-220634.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    max-width: 800px;
    background-color: #a9a9a9;opacity: 0.8;
    color: white;
    padding: 40px;
    overflow-x: hidden;
    margin-top: 15vh;
    margin-bottom: 2vh;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    box-shadow: 0 0px 30px -2px #777;
    transition: 0.5s ease-in all;
    border: 2px solid #6c6f74;
    border-radius: 25px;

}

.container textarea{
    width: 100%;
    padding: 20px;
    min-height: 25vh;
    font-size: large;
}

.container:hover{
    transform: scale(0.995);
    box-shadow: none;
}

.heading{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding: 5px;
    border: 1px solid  #0b200d;
    border-radius: 25px;
}

.container #sel{
    border-radius: 25px;
}

.container form select{
    background:none;
    border: 2px solid #0b200d;
    border-radius: 25px;
    outline: none;
    color: white;
    height: 50px;
    margin-bottom: 30px;
    transition: 0.3s ease-in all;
    
}

.container form select:focus{
    background: white;
    border: 2px solid  #7cb342;
    border-radius: 25px;
    outline: none;
    color: rgb(95, 90, 90);
}

.container form textarea{
    background: none;
    border: 2px solid #0c5306;
    border-radius: 25px;
    outline: none;
    color: white;
}

.container form textarea:focus{
    border: 2px solid  #7cb342;
    background-color: white;
    color: rgb(44, 37, 37);
}

.container #type,
.container #title,
.container #desc,
.container #branch{
    padding: 8px 15px;
    margin: 10px auto;
    border-radius: 25px;

}

.container textarea{
    color:  rgb(44, 37, 37);
    font-weight: 400;
    font-family: sans-serif;
    columns: 50vw;
    background: none;
    transition: 0.3s ease-in all;
}


.container #submit{
    padding: 0 15px;
    margin: 25px auto;
    width: 100%;
    height: 50px;
    transition: 0.3s ease-in all;
    
}

.box .form-control{
	border: 0px;
	background: none;
	display: block;
	text-align:center;
    border: 2px solid #797d80;
    border-radius: 25px;
	padding: 14px 10px;
	outline: none;
	color:white;
    transition: 0.25s;
    font-size: 16px;
    
    
}

.box .form-control:focus{
    border-color:  #7cb342;
    border-radius: 25px;
}

.container input[type="submit"]{
	border: 0px;
	background: none;
	display: block;
	margin:5px auto;
	border: 2px solid  #7cb342;
	padding: 5px 10px;
	width:100px;
	outline: none;
	color:white;
    font-size: 25px;
    border-radius: 25px;
	
}

.container input[type="submit"]:hover{
    background-color:  #7cb342;
    box-shadow: 0px 0px 10px -2px  #7cb342;
    opacity: 1;
    color: white;
    cursor: pointer;
    border-radius: 25px;
}

                                            /* main ends */


                                                       /* media queries starts */

  @media screen and (max-width:1100px){

    .nav{
        position: fixed;
        top: 0%;
        
    }
  
    .nav-links{
        position: fixed;
        right: -50%;
        height: 87vh;
        background-color: #26324a;
        top: 13vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        width: 50%;
        transition: 0.5s ease-in;
        overflow: hidden;
    }
    
    .nav-links li{
        opacity: 0;
    }
  
  
    .burger{
        display: block;
        cursor: pointer;
    }
  
  }

  @media screen and (max-width:700px){
    .footer-element .footer-container .inner{
        width: 100%;
    }
    .container{
        margin-top: 13vh;
        margin-bottom: 0vh;
    }
  }





@keyframes navLinkFade{
from{
opacity: 0;
transform: translateX(50px);
}
to{
opacity: 1;
transform: translateX(0px);
}
}


.nav-active{
right: 0%;
}


.toggle .line1{
transform: rotate(-45deg) translate(-5px , 6px);

}
.toggle .line2{
opacity: 0;
}
.toggle .line3{
transform: rotate(45deg) translate(-5px , -6px);
}

                                                       /* media queries starts */

    @media screen and (max-width:1100px){

    .nav{
        position: fixed;
        top: 0%;
        
    }
    
    .nav-links{
        position: fixed;
        right: -50%;
        height: 87vh;
        background-color: #26324a;
        top: 13vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        width: 50%;
        transition: 0.5s ease-in;
        overflow: hidden;
    }
    
    .nav-links li{
        opacity: 0;
    }
    
    
    .burger{
        display: block;
        cursor: pointer;
    }
    
    }

    @media screen and (max-width:700px){
    .footer-element .footer-container .inner{
        width: 100%;
    }
    .container{
        margin-top: 13vh;
        margin-bottom: 0vh;
    }
    }


    @media screen and (max-width:500px){

        .nav{
            position: fixed;
            top: 0%;
            padding: 10px 20px;
            text-align: center;
            width: 100vw;
            height: 35vh;
            border-bottom: 1px solid black;
        }
        .logo{
          font-size: 20px;
      }
      .nav-first p{
          margin-top: 0px;
      }
        .nav-links{
            right: -100%;
            width: 100%;
            top: 20vh;
            height: 80vh;
        } 
    
        .nav-links a{
            width: 100vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: 0.3s ease-in all;
        }
    
    
    
        .nav-links{
            right: -100%;
            width: 100%;
        }
    
        .main-part{
            margin-top: 35vh;
            margin-bottom: 0;
            border: none;
            margin-bottom: 0vh;
            
        }
    
    
        .footer{
            top: 13vh;
        }
    }


@keyframes navLinkFade{
from{
opacity: 0;
transform: translateX(50px);
}
to{
opacity: 1;
transform: translateX(0px);
}
}


.nav-active{
right: 0%;
}


.toggle .line1{
transform: rotate(-45deg) translate(-5px , 6px);

}
.toggle .line2{
opacity: 0;
}
.toggle .line3{
transform: rotate(45deg) translate(-5px , -6px);
}

