html {
  scroll-behavior: smooth;
}


.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 13vh;
  background-color: #26324a;
  font-family: 'Poppins', sans-serif;
  position: sticky;
  top: 0%;
  z-index: +1;
  padding: 10px 10px;
  border-bottom: 1px solid rgb(196, 196, 196);

}

.nav-first img {
  /* margin-left: -150px; */
}

.nav-first p {
  color: #fff;
  margin-left: 45px;
  margin-top: -10px;
}

.logo {
  display: inline;
  color: rgba(255, 255, 255, 0.918);
  font-weight: 900;
  padding: 0px;
  font-size: 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;

}

.nav-links li a {
  color: rgba(255, 255, 255, 0.918);
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  transition: 0.3s ease-in all;


}

.nav-links li a:hover {
  color: #ff9800;
  cursor: pointer;
}

.nav-links li button {
  color: rgba(255, 255, 255, 0.918);
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  transition: 0.3s ease-in all;
  background-color: transparent;
  border-color: transparent;

}

.nav-links li button:hover {
  color: #ff9800;
  cursor: pointer;
}

li {
  list-style: none;
}


.burger {
  display: none;
}



.burger div {
  width: 25px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.918);
  margin: 5px;
  transition: 0.5s ease all;
}


.anam {
  position: relative;
  width: 100%;
  color: white;
  background-image: linear-gradient(#26324a, lightblue);
  padding-top: 440px;
  padding-bottom: 40px;
  font-family: pangolin;
  margin-top: -20px;
}

.container {
  margin-top: -420px;
  width: 100%;
  overflow: hidden;
}

.carousel-inner {
  width: 100%;
}

.anam-h {

  color: #041025;
  height: 60px;
  text-align: center;
  padding-top: 20px;
  font-family: pangolin;
}

.about {
  margin-top: 10px;
  height: 450px;
  background-image: linear-gradient(lightblue, white);
}

.anam-pa {
  padding: 100px 20px 20px 20px;
  font-size: 20px;
  color: white;
  text-align: center;
}

.sec-but {
  background-image: linear-gradient(lightblue, lightblue);
  height: 140px;
  text-align: center;
}

.sec-part {
  background-color: #ffffff;
  border: none;
  height: 100px;
  width: 28%;
  display: inline;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: 0.8px;
  word-spacing: 1px;
  font-size: 25px;
  margin-top: -5px;

}

.sec-part:a:link {
  color: white;
  text-decoration: none;

}

.sec-part:hover {
  border: 2px solid cyan;
}

.about-text {
  width: 84%;
  text-align: center;
  height: 400px;
  background-image: linear-gradient(to right, #26324a, #2b547e);
  margin-left: 120px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.break-h {
  background-color: #A6B9C5;
  color: #041025;
  height: 60px;
  font-size: 25px;
  text-align: center;
  padding-top: 20px;
  font-family: pangolin;
}



.lav {
  background-color: black;
}

.sections {
  background-color: white;
  margin-left: 30px;
  margin-right: 30px;
  font-family: pangolin;


}

#another {
  margin-top: 150px;
  background-color: white;
  height: 500px;
}

.section1 {
  position: absolute;
  margin: 50px 10px 20px 10px;
  width: 100px;
  height: 500px;
  padding: 20px 20px 0px 0px;
  background-image: linear-gradient(to right, #26324a, #2b547e);
  display: inline-block;
  font-size: 20px;
  font-family: pangolin;
  color: white;
  padding: 15px;

}

.section2 {
  padding: 15px;
  background-image: linear-gradient(to right, #26324a, #2b547e);
  margin-top: 50px;
  color: white;
  position: absolute;
  left: 12%;
  width: 70%;
  height: 500px;
  line-height: 130%;
  font-size: 18px;
  font-family: pangolin;
  max-width: 85ch;
  max-height: 1500px;
  word-spacing: 1.1px;
  letter-spacing: 0.6px;
}

#header {
  font-size: xx-large;
  max-width: 200ch;
  line-height: 150%;
}

.section3 {
  position: absolute;

  left: 67%;
  width: 30%;
  margin: 50px 30px 0px -10px;
  height: 500px;
  padding: 15px;


}


.carousel-inner>.item>img {
  cursor: pointer;
  width: 400px;
  height: 450px;
  border: 2px solid #26324a;
  border-radius: 5px;
}


.cs,
.ec,
.e,
.c,
.m,
.dop1,
.dom1,
.doc1,
.arch1 {
  margin-bottom: 8px;
  color: white;
  border: none;
  background: none;
  padding-right: 5px;
  width: 80px;
}

.cs:hover,
.ec:hover,
.e:hover,
.c:hover,
.m:hover,
.dop1:hover,
.dom1:hover,
.doc1:hover,
.arch1:hover {
  color: black;
  padding-left: 5px;

}

.cs:focus,
.ec:focus,
.e:focus,
.c:focus,
.m:focus,
.dop1:focus,
.dom1:focus,
.doc1:focus,
.arch1:focus {
  border-right: none;
  color: white;
}



#ece,
#ee,
#ce,
#me,
#dop,
#dom,
#doc,
#arch {
  display: none;
}

/*Simran  css  */
.container-sm {
  text-align: center;
}

#Contacts {
  position: relative;
  background-image: linear-gradient(to right, #26324a, #2b547e);
  padding-top: 30px;
  margin-top: 1450px;
  height: 410px;
  font-family: pangolin;
}

#container {
  padding-top: 4%;
  padding-left: 4%;
  padding-right: 4%;
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
}

@-webkit-keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

#Links {
  text-align: center;
}

.icons {
  text-align: center;
  padding: 30px;

}

.firstl li {
  list-style: none;
  margin: -50px 8px;
  display: inline-block;
  font-size: 30px;
  padding: 3px 10px;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 50%;
  transition: .5s;
  cursor: pointer;
}

.firstl li:hover {
  color: #e65f78;
  border: 3px solid #e65f78;
  transition: .5s;
  cursor: col-resize 2px pointer;
}

.imgicons {
  width: 150px;
  height: 150px;
}

.col-r {
  margin: 40px;
  padding: 25px;
  border: 2px solid white;
  width: inherit;
  box-shadow: 2px 2px 15px grey;
  cursor: pointer;
  color: black;
}

.col-r:hover {
  border: 2px solid white;
  box-shadow: 2px 2px 40px grey;
  transition: 0.3s;
  transform: scale(1.13);
}


.content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid #333C42;

}

.col i {
  color: #e65f78;
  cursor: pointer;
}

.col {
  text-align: center;
  margin-bottom: 10px;
}

.l {
  font-weight: 800;
  font-family: pangolin;
}
@media screen and (max-width:1100px){

  .nav{
      position: sticky;
      top: 0%;
      
  }
  .logo{
      font-size: 20px;
  }
  .nav-links{
      position: fixed;
      right: -50%;
      height: 87vh;
      background-color: #26324a;
      top: 13vh;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      text-align: center;
      width: 50%;
      transition: 0.5s ease-in;
      overflow: hidden;
  }

  .nav-links li{
      opacity: 0;
  }


  .burger{
      display: block;
      cursor: pointer;
  }

}



@media screen and (max-width: 992px) {
  .col {
    flex: 50%;
  }
  .nav{
    height: 20vh;
  }

}

@media screen and (max-width: 990px) {
  .tags li {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 500px) {
  .carousel-inner_ana img {
    border-radius: 5px;
    width: 300px;
    height: auto;
    margin: 20px 10px 20px 10px;
  }
  .nav {
    position: fixed;
    top: 0%;
    padding: 10px 20px;
    text-align: center;
    width: 100vw;
    height: 35vh;
    border-bottom: 1px solid black;
  }

  .logo {
    font-size: 20px;
  }

  .nav-first p {
    margin-top: 0px;
  }

  .nav-links {
    right: -100%;
    width: 100%;
    top: 20vh;
    height: 80vh;
  }

  .nav-links a {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s ease-in all;
  }

  .anam {
    margin-top: 35vh;
  }

  .row {
    flex-direction: column;
  }

  .column {
    flex-direction: row;
  }

  #Contacts {
    margin-top: 1500px;
    height: 690px;
  }

  .section2 {
    left: 15%;
    width: 75%;
    padding-top: 500px;
    line-height: 110%;
    font-size: 17px;
    font-family: dosis;
    max-width: 85ch;
    max-height: 3800px;
    word-spacing: 2px;
    letter-spacing: 1px;
  }

  .section3 {
    left: 22%;
    width: 70%;
  }

  .section1 {

    width: 75px;
    height: 450px;
    margin: 40px 20px 20px 20px;
    padding: 0px 20px 0px 0px;
    display: inline-block;
    font-size: 15px;

  }

  .carousel {
    width: 300px;
    height: auto;
  }

  .carousel-inner>.item>img {
    cursor: pointer;
    border: 2px solid #26324a;
    border-radius: 5px;
  }
}
@keyframes navLinkFade{
  from{
      opacity: 0;
      transform: translateX(50px);
  }
  to{
      opacity: 1;
      transform: translateX(0px);
  }
}

.nav-active{
  right: 0%;
}
.toggle .line1{
  transform: rotate(-45deg) translate(-5px , 6px);

}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px , -6px);
}