.file {
    position: relative;
    overflow: hidden;
    margin-top: 50%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background-image: linear-gradient(90deg,  #26324a, lightblue);;
}
.file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}