.navbar1{
    background-color: #26324a;
    height: 90px;
}
.butt{
 background-color:#26324a;
border-color:#26324a;
margin-right:15px;}
#nav{float:left; 
margin:0 0 0 0%; }
.nit{ 
    margin-left: 100px;
    display: inline;
    font-family: pangolin;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: white;
    }
img{
margin-left:20px;}

.tm-container {
  max-width:auto;
  margin-left: auto;
  margin-right: auto;
}
.tm-main-content { background-color: #ffffff; }
.tm-page-header-container { text-align: center; }

.tm-page-header {
  display: inline-block;
  vertical-align: baseline;
  margin-top: 20px;
  margin-bottom: 35px;
  font-size: 2.1rem;
  font-weight: 400;
}

.tm-page-icon {
  display: inline-block;
  vertical-align: baseline;
  padding: 15px;
}

.image img{
  height:55px;
  width:55px;
  margin-top:80px;
  margin-left:15px;
  border-radius:400px;
  padding:3px 3px;
  border:2px solid black;

}

.tm-section-header {
  color: black;
  text-align: center;
  font-weight: 15;
  font-size: 1.5rem;
  margin-top: -70px;
  margin-bottom: 5px;
  margin-left:15px;
}

.tm-section-header2 {
  color:black;
  text-align: center;
  font-weight: 400;
  font-size: 1.0rem;
  margin-top: 5px;
  margin-bottom: 40px;
   margin-left:15px;
}


.image2 img{
  height:55px;
  width:55px;
  margin-top:40px;
  margin-left:15px;
  border-radius:400px;
  padding:3px 3px;
  border:2px solid black;

}
.tm-section-header3 {
  color: black;
  text-align: center;
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: -70px;
  margin-bottom: 5px;
  margin-left:15px;
}

.tm-section-header4 {
  color:black;
  text-align: center;
  font-weight: 400;
  font-size: 1.0rem;
  margin-top: 5px;
  margin-bottom: 40px;
   margin-left:15px;
}


.tm-section {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
}

.tm-section-small {
  max-width: 490px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
}

p {
  font-size: 1rem;
  line-height: 1.7;
}




@media (max-width: 550px) {
  .tm-special-item {
    padding-left: 10px;
    padding-right: 10px;
  }
  .tm-special-items {
    margin-left: -10px;
    margin-right: -10px;
  }
}


@media only screen and (max-width:800px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}