@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

                                /* Nav bar */

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 13vh;
    background-color: #26324a;
    font-family: 'Poppins', sans-serif;
    position: sticky;
    top: 0%;
    z-index: +1;
    padding: 0 10px;
    
}

.logo{
    color: rgba(255, 255, 255, 0.918); 
    font-weight: 900;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-top: auto;
    padding: 20px;

}

.nav-links li a{
  color: rgba(255, 255, 255, 0.918); 
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  padding: 10px;
  transition: 0.4s ease-in all;
  
}

.nav-links li a:hover{
    box-shadow: 0px 0px 15px -1px #0c1527;
    background-color: #26324a;
    cursor: pointer;
}

li{
    list-style: none;
}


.burger{
    display: none;
}



.burger div{
    width: 25px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.918); 
    margin: 5px;
    transition: 0.5s ease all;
}


.tm-container {
  max-width:auto;
  margin-left: auto;
  margin-right: auto;
}
.tm-main-content { background-color: #ffffff; }
.tm-page-header-container { text-align: center; }

.tm-page-header {
  display: inline-block;
  vertical-align: baseline;
  margin-top: 20px;
  margin-bottom: 35px;
  font-size: 2.1rem;
  font-weight: 400;
}

.tm-page-icon {
  display: inline-block;
  vertical-align: baseline;
  padding: 15px;
}

.image img{
  height:55px;
  width:55px;
  margin-top:80px;
  margin-left:15px;
  border-radius:400px;
  padding:3px 3px;
  border:2px solid black;

}

.tm-section-header {
  color: black;
  text-align: center;
  font-weight: 15;
  font-size: 1.5rem;
  margin-top: -70px;
  margin-bottom: 5px;
  margin-left:15px;
}

.tm-section-header2 {
  color:black;
  text-align: center;
  font-weight: 400;
  font-size: 1.0rem;
  margin-top: 5px;
  margin-bottom: 40px;
   margin-left:15px;
}


.image2 img{
  height:55px;
  width:55px;
  margin-top:40px;
  margin-left:15px;
  border-radius:400px;
  padding:3px 3px;
  border:2px solid black;

}
.tm-section-header3 {
  color: black;
  text-align: center;
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: -70px;
  margin-bottom: 5px;
  margin-left:15px;
}

.tm-section-header4 {
  color:black;
  text-align: center;
  font-weight: 400;
  font-size: 1.0rem;
  margin-top: 5px;
  margin-bottom: 40px;
   margin-left:15px;
}


.tm-section {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
}

.tm-section-small {
  max-width: 490px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
}

p{
  font-size: 1rem;
  line-height: 1.7;
}

/* @media screen and (max-width:500px){

  body{
    overflow-x: hidden;
  } 

  nav{
    position: sticky;
    top: 0%;
    
  }

  .nav-links{
    width: 100%;
  }
} */

@media screen and (max-width:1100px){
    body{
        overflow-x: hidden;
    }

    nav{
        position: sticky;
        top: 0%;
        
    }

    .nav-links{
        position: fixed;
        right: -50%;
        height: 87vh;
        background-color: #26324a;
        top: 13vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        width: 50%;
        transition: 0.5s ease-in;
        overflow: hidden;
    }

    .nav-links li{
        opacity: 0;
    }


    .burger{
        display: block;
        cursor: pointer;
    }

}

@media screen and (max-width:500px){

  body{
    overflow-x: hidden;
  } 

  nav{
    position: sticky;
    top: 0%;
    padding: 20px 20px;
    text-align: center;
    overflow-y: hidden;
    
  }



  .nav-links{
    right: -100%;
    width: 100%;
  }
}


@keyframes navLinkFade{
  from{
  opacity: 0;
  transform: translateX(50px);
  }
  to{
  opacity: 1;
  transform: translateX(0px);
  }
}


.nav-active{
  right: 0%;
}


.toggle .line1{
  transform: rotate(-45deg) translate(-5px , 6px);
  
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px , -6px);
}

.navbar1{
    background-color: #26324a;
    height: 90px;
}
.butt{
 background-color:#26324a;
border-color:#26324a;
margin-right:15px;}
#nav{float:left; 
margin:0 0 0 0%; }
.nit{ 
    margin-left: 100px;
    display: inline;
    font-family: pangolin;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: white;
    }
img{
margin-left:20px;}

.tm-container {
  max-width:auto;
  margin-left: auto;
  margin-right: auto;
}
.tm-main-content { background-color: #ffffff; }
.tm-page-header-container { text-align: center; }

.tm-page-header {
  display: inline-block;
  vertical-align: baseline;
  margin-top: 20px;
  margin-bottom: 35px;
  font-size: 2.1rem;
  font-weight: 400;
}

.tm-page-icon {
  display: inline-block;
  vertical-align: baseline;
  padding: 15px;
}

.image img{
  height:55px;
  width:55px;
  margin-top:80px;
  margin-left:15px;
  border-radius:400px;
  padding:3px 3px;
  border:2px solid black;

}

.tm-section-header {
  color: black;
  text-align: center;
  font-weight: 15;
  font-size: 1.5rem;
  margin-top: -70px;
  margin-bottom: 5px;
  margin-left:15px;
}

.tm-section-header2 {
  color:black;
  text-align: center;
  font-weight: 400;
  font-size: 1.0rem;
  margin-top: 5px;
  margin-bottom: 40px;
   margin-left:15px;
}


.image2 img{
  height:55px;
  width:55px;
  margin-top:40px;
  margin-left:15px;
  border-radius:400px;
  padding:3px 3px;
  border:2px solid black;

}
.tm-section-header3 {
  color: black;
  text-align: center;
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: -70px;
  margin-bottom: 5px;
  margin-left:15px;
}

.tm-section-header4 {
  color:black;
  text-align: center;
  font-weight: 400;
  font-size: 1.0rem;
  margin-top: 5px;
  margin-bottom: 40px;
   margin-left:15px;
}


.tm-section {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
}

.tm-section-small {
  max-width: 490px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
}

p {
  font-size: 1rem;
  line-height: 1.7;
}

