@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

                                /* Nav bar */


.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 13vh;
    background-color: #26324a;
    font-family: 'Poppins', sans-serif;
    position: fixed;
    width: 100vw;
    top: 0%;
    z-index: +1;
    padding: 10px 10px;
    
}


.ins_name{
    color: rgba(255, 255, 255, 0.918); 
    font-weight: 600;
    padding: 5px 0;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 50%;

}

.nav-links li a{
  color: white; 
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  
}

.nav-links li a:hover{
    cursor: pointer;
    color: rgba(212, 212, 212, 0.938);
    
}

li{
    list-style: none;
}


.burger{
    display: none;
}



.burger div{
    width: 25px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.918); 
    margin: 5px;
    transition: 0.5s ease all;
}

#log{
    background-color:#26324a;
    position: absolute;
    top:50%;
    left: 50%;
    width:400px;
    height:400px;
    box-shadow: 0 0px 30px -2px #777;
    transform: translate(-50%, -40%);
    padding: 0 30px;
    font-family: 'Poppins',sans-serif;
    transition: 0.5s ease-in all;
}

#log .box .form-group .heading_wel{
    color: rgba(255, 255, 255, 0.918);
    text-align: center;
    padding: 5px 0;
}

#log:hover{
    box-shadow: none;
    cursor: pointer;
    transform: translate(-50%, -40%) scale(1.1);
}

.box input[type="text"],.box input[type="password"]{
	border: 0px;
	background: none;
	display: block;
	text-align:center;
	border: 2px solid #3498db;
	padding: 14px 10px;
	outline: none;
	color:white;
    transition: 0.25s;
    font-size: 16px;

}
#log .form-group h1{
    font-family: 'Poppins', sans-serif;
}

.box input[type="text"]:focus,.box input[type="password"]:focus{
    background-color: white;
    color: black;
    border-color: #2ecc71;
    }

.box input[type="submit"]{
	border: 0px;
	background: none;
	display: block;
	margin:5px auto;
	border: 2px solid #2ecc71;
	padding: 5px 10px;
	width:100px;
	outline: none;
	color:white;
    font-size: 16px;
    width: 100%;
}
.box input[type="submit"]:hover{
    background-color: #2ecc71;
    box-shadow: 0px 0px 10px -2px #2ecc71;
    color: rgba(0, 0, 0, 0.726);
    cursor: pointer;
}


@media screen and (max-width:1100px){
    body{
      overflow-x: hidden;
  }

  nav{
      position: fixed;
      top: 0%;
      
  }

  .nav-links{
      position: fixed;
      right: -50%;
      height: 87vh;
      background-color: #26324a;
      top: 13vh;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      text-align: center;
      width: 50%;
      transition: 0.5s ease-in;
      overflow: hidden;
  }

  .nav-links li{
      opacity: 0;
  }


  .burger{
      display: block;
      cursor: pointer;
  }

}

@media screen and (max-width:500px){

    body{
        overflow-x: hidden;
    } 

    nav{
        position: fixed;
        top: 0%;
        padding: 20px 20px;
        text-align: center;
        position: fixed;
    }

    .nav-links{
        right: -100%;
        width: 100%;
    } 
    #log{
        width: 100vw;
        height: 100vh;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -40%);
        padding-top:15vh ;
    }

    #log:hover{
        transform: translate(-50%, -40%) scale(1);
    }
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}


.nav-active{
    right: 0%;
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px , 6px);

}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px , -6px);
}
