@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

                                /* Nav bar */

html{
    scroll-behavior: smooth;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 13vh;
    background-color: #26324a;
    font-family: 'Poppins', sans-serif;
    position: sticky;
    top: 0%;
    z-index: +1;
    padding: 10px 10px;
    border-bottom: 1px solid rgb(196, 196, 196);
    
}
.nav-first img{
    /* margin-left: -150px; */
}
.nav-first p{
    color: #fff;
    margin-left: 45px;
    margin-top: -10px;
}

.logo{
    display: inline;
    color: rgba(255, 255, 255, 0.918); 
    font-weight: 900;
    padding: 0px;
    font-size: 25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 50%;

}

.nav-links li a{
  color: rgba(255, 255, 255, 0.918); 
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  transition: 0.3s ease-in all;
  
  
}

.nav-links li a:hover{
    color: #ff9800;
    cursor: pointer;
}

li{
    list-style: none;
}


.burger{
    display: none;
}



.burger div{
    width: 25px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.918);
    margin: 5px;
    transition: 0.5s ease all;
}

                                        /* Navbar ends */

                                        /* main content */

.login{
    background: rgb(57,49,175);
    background: linear-gradient(90deg, rgba(57,49,175,1) 0%, rgba(0,198,255,1) 100%);
}

.login-left img{
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
.login-left{
    text-align: center;
    color: #fff;
    /* margin-top: 4%; */
    /* background: -webkit-linear-gradient(left, #3931af, #00c6ff); */
    background: rgb(57,49,175);
    background: linear-gradient(90deg, rgba(57,49,175,1) 0%, rgba(0,198,255,1) 100%);
}
.login-left input{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}

.login-right{
    /* background: -webkit-linear-gradient(left, #3931af, #00c6ff); */
    background: rgb(57,49,175);
    background: linear-gradient(90deg, rgba(57,49,175,1) 0%, rgba(0,198,255,1) 100%);
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btnLogin{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #0062cc;
    color: #fff;
    font-weight: 600;
    width: 25%;
    cursor: pointer;
}
.btnLogin:hover{
    background-color: green;
    color: #fff;
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

@media screen and (max-width:1100px){

    .nav{
        position: sticky;
        top: 0%;
        
    }
    .logo{
        font-size: 20px;
    }
    .nav-links{
        position: fixed;
        right: -50%;
        height: 87vh;
        background-color: #26324a;
        top: 13vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        width: 50%;
        transition: 0.5s ease-in;
        overflow: hidden;
    }
  
    .nav-links li{
        opacity: 0;
    }
  
  
    .burger{
        display: block;
        cursor: pointer;
    }
  
  }
  
  
  
  
  
  
  
  @media screen and (max-width:500px){
  
      .nav{
          position: fixed;
          top: 0%;
          padding: 10px 20px;
          text-align: center;
          width: 100vw;
          height: 35vh;
          border-bottom: 1px solid black;
      }
      .logo{
        font-size: 20px;
    }
    .nav-first p{
        margin-top: 0px;
    }
      .nav-links{
          right: -100%;
          width: 100%;
          top: 30vh;
          height: 80vh;
      } 
  
      .nav-links a{
          width: 100vw;
          display: flex;
          flex-direction: column;
          align-items: center;
          transition: 0.3s ease-in all;
      }
      .login{
          margin-top: 35vh;
      }
      
  
  }
  
  @keyframes navLinkFade{
      from{
          opacity: 0;
          transform: translateX(50px);
      }
      to{
          opacity: 1;
          transform: translateX(0px);
      }
  }
  
  
  .nav-active{
      right: 0%;
  }
  .toggle .line1{
      transform: rotate(-45deg) translate(-5px , 6px);
  
  }
  .toggle .line2{
      opacity: 0;
  }
  .toggle .line3{
      transform: rotate(45deg) translate(-5px , -6px);
  }

  