@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

                                /* Nav bar */


.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 13vh;
    background-color: #26324a;
    font-family: 'Poppins', sans-serif;
    position: fixed;
    width: 100vw;
    top: 0%;
    z-index: +1;
    padding: 10px 10px;
    
}


.ins_name{
    color: rgba(255, 255, 255, 0.918); 
    font-weight: 600;
    padding: 5px 0;

}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.nav-links li a{
  color: white; 
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  
}

.nav-links li a:hover{
    cursor: pointer;
    color: rgba(212, 212, 212, 0.938);
    
}

li{
    list-style: none;
}


.burger{
    display: none;
}



.burger div{
    width: 25px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.918); 
    margin: 5px;
    transition: 0.5s ease all;
}



@media screen and (max-width:1100px){
    body{
      overflow-x: hidden;
  }

  .nav{
      position: fixed;
      top: 0%;
      
  }

  .nav-links{
      position: fixed;
      right: -50%;
      height: 87vh;
      background-color: #26324a;
      top: 13vh;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      text-align: center;
      width: 50%;
      transition: 0.5s ease-in;
      overflow: hidden;
  }

  .nav-links li{
      opacity: 0;
  }


  .burger{
      display: block;
      cursor: pointer;
  }

}

@media screen and (max-width:500px){

    body{
        overflow-x: hidden;
    } 

    .nav{
        position: fixed;
        top: 0%;
        padding: 10px 20px;
        text-align: center;
    }

    .nav-links{
        right: -100%;
        width: 100%;
    } 
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}


.nav-active{
    right: 0%;
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px , 6px);

}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px , -6px);
}

