#left{
float:left;
width:10%;
height:100%;
background-color:#26324a;
padding:20px;
}
#middle{
background-color:/* #2196f3;*/
white;
float:left;
width:30%;
height:90%;
}
#right {
float: right;
width: 38%;
height: 100%;
background-color: #26324a;
color: white;
height: 100%;
}
.butt{ background-color:#26324a;
border-color:#26324a;
margin-top:100px;
}
.butt1{ background-color:#26324a;
border-color:#26324a;
margin-top:30px;
margin-top:30px;
}
.butt2{ background-color:#26324a;
border:1px solid white;
}
#signup{
text-color:black;
}
#right1{
width:400px;
position : absolute;
top:100px;
left:68%;
border:2px solid white;
padding:20px;
}
#mycarousel{
position:absolute;
height:90%;
}
img{width:800px;
height:380px;}
