.footer-element{
    background-color: #26324a;
    color:white;
    position: relative;
    min-height: 30vh;
  }
  
  .footer-container{
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    padding: 10px;
    
  }
  
  .footer-element .footer-container .inner{
      font-size: 15px;
      padding: 20px;
      align-content: center;
      width: 33%;
      font-family: 'Poppins', sans-serif;
  
  }
  
  .footer-container .inner .content p{
    font-size: 18px;
    font-family: 'Poppins';
  }
  
  .footer-container .inner .borde{
      height: 2px;
      width: 30%;
      background: #ff9800;
      margin-bottom: 10px;
  }
  
  .footer-container .inner .lin{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 20px;
  }
  
  .footer-container .inner .lin i{
      padding: 10px;
      border-bottom: 2px solid transparent;
      transition: 0.3s ease-in-out all;
  }
  
  .footer-container .inner .lin i:hover{
      border-bottom: 2px solid #ff9800;
      color: #ff9800;
  }
  
  
  .footer-container .inner .quick-links li{
    list-style: none;
    padding: 10px;
  }
  
  .footer-container .inner .quick-links li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.918);
    transition: 0.3s ease-in-out all;
  }
  
  .footer-container .inner .quick-links li a:hover{
    color: #ff9800;
  }
  
  
  .bottom{
      text-align: center;
      background-color: #081022;
      padding: 10px;
  }

#left{
float:left;
width:10%;
height:100%;
background-color:#26324a;
padding:20px;
}
#middle{
background-color:/* #2196f3;*/
white;
float:left;
width:30%;
height:90%;
}
#right {
float: right;
width: 38%;
height: 100%;
background-color: #26324a;
color: white;
height: 100%;
}
.butt{ background-color:#26324a;
border-color:#26324a;
margin-top:100px;
}
.butt1{ background-color:#26324a;
border-color:#26324a;
margin-top:30px;
margin-top:30px;
}
.butt2{ background-color:#26324a;
border:1px solid white;
}
#signup{
color:black;
}
#right1{
width:400px;
position : absolute;
top:100px;
left:68%;
border:2px solid white;
padding:20px;
}
#mycarousel{
position:absolute;
height:100%;
}
img{width:800px;
height:380px;}
