body{
	background-image: linear-gradient(to right,#A4A67B,white);
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

                                /* Nav bar */

html{
    scroll-behavior: smooth;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 13vh;
    background-color: #26324a;
    font-family: 'Poppins', sans-serif;
    position: sticky;
    top: 0%;
    z-index: +1;
    padding: 10px 10px;
    border-bottom: 1px solid rgb(196, 196, 196);
    
}


.logo{
    color: rgba(255, 255, 255, 0.918); 
    font-weight: 900;
    padding: 10px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 50%;

}

.nav-links li a{
  color: rgba(255, 255, 255, 0.918); 
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  transition: 0.3s ease-in all;
  
  
}

.nav-links li a:hover{
    color: #ff9800;
    cursor: pointer;
}

li{
    list-style: none;
}


.burger{
    display: none;
}



.burger div{
    width: 25px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.918); 
    margin: 5px;
    transition: 0.5s ease all;
}


.form-textbox, .form-textarea{
	border-style: none;
}
.wpv-filter-form .form-control {
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
}
#body1{
	width:100%;
	height:100%;
    z-index:-1;
}
/* .row{ 
    background:url("{% static 'images/background.jpg' %}") no-repeat center;
    background-size: cover;
	width:100%;
	height:100%;
    display:flex;
    position:relative;
    top:5%;
    left:13%;
    right:20%;
    width:1200px;
    height:800px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */

.column1{
	float:left;
	width:60%;
	flex:50%;
}

.column2{
	background:rgba(74,67,89,.7);
	float:right;
	width:40%;
	padding:15px;
	font-family:Space Grotesk;
	font-size:large;
	color:#EDD1CA;
	letter-spacing:1px;
	word-spacing:3px;
}

/* input[type=text] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;
	color:white;
	font-size:large;
} */

.butt2{
	top: 50%;
	-ms-transform: translateY(-50%);
    transform: translateY(-50%);
	background-color:#A4A67B;
    color:black;
}

@media screen and (max-width:1100px){
    .nav{
        position: sticky;
        top: 0%;
        
    }
  
    .nav-links{
        position: fixed;
        right: -50%;
        height: 87vh;
        background-color: #26324a;
        top: 13vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        width: 50%;
        transition: 0.5s ease-in;
        overflow: hidden;
    }
  
    .nav-links li{
        opacity: 0;
    }
  
  
    .burger{
        display: block;
        cursor: pointer;
    }
    .column2{
        position: absolute;
        float:left;
    }
  }
@media screen and (max-width:500px){

    .nav{
        position: fixed;
        top: 0%;
        padding: 10px 20px;
        text-align: center;
        width: 100vw;
        height: 20vh;
        border-bottom: 1px solid black;
    }

    .nav-links{
        right: -100%;
        width: 100%;
        top: 20vh;
        height: 80vh;
    } 

    .nav-links a{
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 0.3s ease-in all;
    }

    #body1{
        position: relative;
        top: 20vh;
        margin-bottom: 20vh;
    }
}
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}


.nav-active{
    right: 0%;
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px , 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px , -6px);
}
.register-left img{
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
.register-left{
    text-align: center;
    color: #fff;
    /* margin-top: 4%; */
    /* background: -webkit-linear-gradient(left, #3931af, #00c6ff); */
    background: rgb(57,49,175);
    background: linear-gradient(90deg, rgba(57,49,175,1) 0%, rgba(0,198,255,1) 100%); 
}
.register-left input{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}
.register{
    /* background: -webkit-linear-gradient(left, #3931af, #00c6ff); */
    background: rgb(57,49,175);
    background: linear-gradient(90deg, rgba(57,49,175,1) 0%, rgba(0,198,255,1) 100%);
}
.register-right{
    /* background: -webkit-linear-gradient(left, #3931af, #00c6ff); */
    background: rgb(57,49,175);
    background: linear-gradient(90deg, rgba(57,49,175,1) 0%, rgba(0,198,255,1) 100%);
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.btnRegister{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top:2%;
    margin-bottom: 5%;
    border: none;
    border-radius: 1.5rem;
    padding: 1%;
    background: #0062cc;
    color: #fff;
    font-weight: 600;
    width: 15%;
    cursor: pointer;
}
.btnRegister:hover{
    background-color: green;
    color: #fff;
}
label{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}