*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.back{
    background-color: #26324a;
    height: 13vh;
    font-size: 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
}

.back a{
    text-decoration: none;
    color: white;
    list-style: none;
}

.back a:hover{
    color: #ff9800;
}

.back i:hover{
    color: #ff9800;
}

.container{
    min-height: 57vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding-top: 9vh;

    
}

.container .inner{
    width: max-content;
    border: 2px solid black;
    padding:20px;
    background-color: #26324a;
}

.container .inner h1{
    color: white;
}

.container form input[type='email']{
    border: 0px;
	background: none;
    text-align:center;
    width: 100%;
	border: 2px solid #3498db;
	padding: 10px 10px;
	outline: none;
	color:white;
    transition: 0.25s;
    font-size: 16px;
}

.container form input[type="email"]:focus{
    background-color: white;
    color: black;
    border-color: #2ecc71;
}


.container input[type="submit"]{
	border: 0px;
	background: none;
	display: block;
	margin:5px auto;
	border: 2px solid #2ecc71;
	padding: 8px 10px;
	width:100px;
	outline: none;
	color:#2ecc71;
    font-size: 16px;
    width: 100%;
}
.container input[type="submit"]:hover{
    background-color: #2ecc71;
    box-shadow: 0px 0px 10px -2px #2ecc71;
    border: 2px solid transparent;
    color: rgba(0, 0, 0, 0.726);
    cursor: pointer;
}