{% load static %}

<html>
<head> <meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="../static/css/Home.css">
<link rel='stylesheet' href="{% static '/css/nav.css' %}">
</head>
<body>
  <nav class="row navbar navbar1">

    <div class="nav-first">
      <img src="../static/images/nitp.png" class="logo">
     <h1 class=" nit">National Institute Of Technology, Patna</h1>
     <br>
     <span style="margin-left: 60px;margin-right: 60px;">An Institute of National Importance under Ministry of Education, Government of India</span>
  </div>
  
     <div class="nav">
       
      <a href="/" class="btn btn-primary butt" onclick="parent.location='college.html'">Home</a>
      <a href="/addPost" class="btn btn-primary butt" onClick="parent.location='Nav2.html'">Add Blog</a> 
      <a href="/profile/" class="btn btn-primary butt" onClick="parent.location='Nav2.html'" >Profile</a>
      <a href="/search/" class="btn btn-primary butt" onClick="parent.location='Nav2.html'">Search</a>
      <button class="btn btn-primary butt" onclick= "location.href = '{% url 'log' %}' ">Logout</button>
    </div>
    
    </nav>

 <div class="tm-main-content">

  <section class="tm-section tm-section-small">
   {% for lis_time, date, Descriptions,Departments,Titles,Types,name,image in comb_lis %}
      <div class="image">
        <img src="{{ image }}">
          <h1 class="tm-section-header2"><strong>Type : {{ Types }} Titles: {{ Titles }} </strong></br> {{name}} </h1>
                </div>
      <h3 class="=tm-section-header2">{{time}}</h3>
      <p><center>{{Descriptions}}</center></p>

    {% endfor %}
    


  </section>
</div>

<script>
  const navSlide = ()=>{
  const burger = document.querySelector('.burger');
  const nav = document.querySelector('.nav-links');
  const navLinks = document.querySelectorAll('.nav-links li');

  burger.addEventListener('click', ()=>{
      nav.classList.toggle('nav-active');

      navLinks.forEach((link, index)=>{

      if(link.style.animation){
          link.style.animation = '';
      }else{
          link.style.animation = `navLinkFade 0.5s ease forwards ${index/7+0.3}s`;
      }

      }); 

      burger.classList.toggle('toggle');

  });  

  
  }
  navSlide();
</script>
{% include 'footer.html'%}
</body>
</html>
