<link rel="stylesheet" type="text/css" href="../static/css/footer.css">
<div style="clear: both;"></div>
<footer class="footer page-footer">
    <div class="footer-content">
        <div class="footer-inner contact">
            <h3>Contact Us</h3>
            <p>Fresher Portal Site</p>
            <p>Email: abc@gmail.com</p>
        </div>
        <div class="footer-inner links">
            <h3>Quick Links</h3>
            <a href="#top">Back to top</a>
        </div>
    </div>
    <div class="footer-bottom">
        &copy;Copyright
    </div>

</footer>