{% load static %}
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel='stylesheet' href="../static/css/college_dummy.css">
  <link rel="stylesheet" type="text/css" href="../static/css/footer.css">




</head>

<body>

  <nav class="nav">
    <div class="nav-first">
      <img src="{% static 'images/nitp.png' %}" width="50" height="50" class="d-inline-block align-top logo" alt="Logo">
      <h1 class="logo">National Institue Of Technology, Patna</h1>
      <p>An Institute of National Importance under Ministry of Education, Government of India</p>
    </div>

    <ul class="nav-links">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/signIn/" onClick="parent.location='reg.html'">Login</a>
      </li>
      <li>
        <a href="/signUp/" onClick="parent.location='login.html'">Register</a>
      </li>
    </ul>
    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </nav>
  <div class="anam">
    <div class="container">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img src="../static/images/n20.jpg" alt="Los Angeles" style="width:100%;">
          </div>

          <div class="item">
            <img src="../static/images/n21.jpg" alt="Chicago" style="width:100%;">
          </div>

          <div class="item">
            <img src="../static/images/n22.jpg" alt="New york" style="width:100%;">
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="about">
      <div class="sec-but">
        <button class="sec-part"><a href="#aboutus">About Us</a></button><button class="sec-part"><a
            href="#another">Departments</a></button><button class="sec-part"><a href="#Contacts">Contact Us</a></button>
      </div>
      <div class="about-text">
        <p class="anam-pa" id="aboutus">National Institute of Technology Patna is the 18th National Institute of
          Technology created by the Ministry of H.R.D. Government of India after rechristening the erstwhile Bihar
          College of Engineering Patna on 28. 01. 2004.
          NIT Patna marked its humble beginning in 1886 with the establishment of pleaders survey training school which
          was subsequently promoted of Bihar College of Engineering Patna in 1924.
          This made this institute the 6th Oldest Engineering Institute of India. The graduate level curriculum was
          later elevated to the post graduate level in 1978.
          The institute is situated on the south bank of holy river Ganges behind Gandhi Ghat, one of the most important
          and reverential place of Patna.
          The Gandhi Ghat is associated with the immersion of ashes of father of the Nation Mahatma Gandhi in the river
          Ganges.
          The campus has a picturesque river view with historic building presenting a spectacle of architectural delight
          and natural beauty.
        </p>
      </div>
    </div>


    <section id="another">
      <section id="lav">
        <div class=" section1" id="sec2">
          <div class=" btn-group-lg branch">
            <a href="#another" class="btn btn-outline-light cs" onclick="myFunction()">CSE</a>
            <a href="#another" class="btn btn-outline-light ec" onclick="myFunction1()">ECE</a>
            <a href="#another" class="btn btn-outline-light e" onclick="myFunction2()">EE</a>
            <a href="#another" class="btn btn-outline-light c" onclick="myFunction3()">CE</a>
            <a href="#another" class="btn btn-outline-light m" onclick="myFunction4()">ME</a>
            <a href="#another" class="btn btn-outline-light dop1" onclick="myFunction5()">DOP</a>
            <a href="#another" class="btn btn-outline-light dom1" onclick="myFunction6()">DOM</a>
            <a href="#another" class="btn btn-outline-light doc1" onclick="myFunction7()">DOC</a>
            <a href="#another" class="btn btn-outline-light arch1" onclick="myFunction8()">ARCH</a>

          </div>
        </div>
        <div class="roa">
          <div class="section2">
            <div id="cse"><strong>
                <div id="header">The Department of Computer Science & Engineering</div>
              </strong> offers courses leading to Bachelor of Technology in Computer Science and Engineering.
              The department has a very good infrastructure and faculty to provide excellent education.The Department of
              Computer Science and Engineering with its cohesive team of faculty members,
              offers a sound program at the UG as well as the PG levels. The curriculum is a blend of the conventional
              and the radical. It is updated regularly to keep up with the growing demands
              and the changing trends of the software industry and research laboratories. The curriculum is updated
              regularly to keep up with the growing demands and the changing The department
              provides a wide range of courses. The prominent among them includes Data Structures, Design and Analysis
              of Algorithms, System Programming, Computer Networks, Data Mining and Warehousing,
              Distributed and Parallel Computing, Mobile and Wireless Computing, Real-time Systems, Cryptography,
              Genetic Algorithm and Artificial Intelligence. Apart from these, students are also
              offered a wide variety of electives. Mission of the department is to impart knowledge in the state of art
              in Computer Science and Engineering with relevant theoretical basis,
              to impart knowledge in the state of art in Computer Science and Engineering .</div>

            <div id="ece"><strong>
                <div id="header">The Department of Electronics and Communication Engineering</div>
              </strong> is one of the established and largest department in the institute.
              It was established in the year 1978 with an intake of 10 students only. The Department offers B. Tech
              programme in "Electronics & Communication
              Engineering" with 141 intake capacity, and M.Tech programme in "Communication System, Microelectronics and
              VLSI System Design" with 18
              intake capacity for each specialization. The department is also offering Ph.D. program (Full time and Part
              time research program) in
              Electronics and Communication Engineering since 2012 provides a platform for bright graduates and
              postgraduates to conduct research in the following areas:
              1. High Power RF / Microwave Devices, Circuits and Systems. RF MEMs, Metamaterial devices, Microwave
              Imaging and Remote Sensing, Absorber, Dielectric.

            </div>

            <div id="ee"><strong>
                <div id="header">The Department of Electrical Engineering</div>
              </strong> was established in 1945 under Patna University with an intake of 20 students leading to Bachelor
              of Science (Engineering)
              degree of four year duration. The four year course was later changed to five year integrated course in
              1960 with intake of 30 students and it continued up to 1972.
              Again four year course was introduced in 1972 with the same intake capacity of 30 students. The intake was
              increased from 30 to 40 students in 2005-06 sessions and further
              in 2006-07 the intake capacity has been increased to 60 students.

              The Microprocessor Laboratory and Power electronics laboratory were setup to meet the requirement of
              course curriculum and research activity. The advancement and application
              of electronics and microcomputer in the field of electrical engineering necessitated a major revision of
              the syllabus for the UG program in 1977. A course in Microprocessor was
              introduced along with many subjects in electronics leading to orientation required for the modem
              technology, such as Analog Electronics, Digital Electronics, Introduction to Communication
              and Digital Signal Processing.
              The Electrical Engineering department has well qualified faculty, majority of them are with Ph. D and M.
              Tech degree
              with specialization in the field of electrical power, control system and microcomputer based
              instrumentation & control. The department has well qualified panel of visiting faculty .
            </div>
            <div id="ce"><strong>
                <div id="header">The Department of Civil Engineering</div>
              </strong> is the oldest and vibrant department of the institute, which was established along with the
              inception of the Institute
              in the year 1924. The Institute was formerly known as the Bihar College of Engineering Patna, a
              constituent engineering college under Patna University, until 27thJan 2004.
              It was rechristened to National Institute of Technology Patna on 28th Jan 2004 as an Autonomous Institute
              under MHRD, Govt. of India.
              The Department of Civil Engineering is committed to provide quality teaching and research opportunities
              toits undergraduate, postgraduate and doctoral students. Apart from UG programme,
              the department also offers M. Tech and Doctoral programmes in the areas of Structural Engineering,
              Transportation Engineering, Water Resource Engineering, Environmental Engineering
              and Geotechnical Engineering. The intake strength of the Civil Engineering Department is 92 for
              undergraduate (BTech)and 112forpostgraduate (MTech). Presently, 25 PhD scholars are enrolled
              with the department for pursuing their doctoral research program. The teaching and education is directed
              towards their successful career in International and National Industries/ Institutions,
              Public and Private sectors, and enable them to qualify various competitive examinations The Department is
              actively involved in international and national research projects, and high valued
              consultancy works for the Government, Private Sector and Industries. The department also offers its
              expertise in various consultancy works and research projects for different industries and
              organisations in the locale.</div>

            <div id="me"><strong>
                <div id="header">The Department of Mechanical Engineering</div>
              </strong> was established in 1952 and the M.Tech Program was started in 1978. BCE was converted to
              National Institute of Technology Patna
              in 2004 Initially B.Tech. Program in Mechanical Engineering started with intake of 20, which has now
              become 125. Presently, the department is also having PhD programmes with total
              of more than 100 students. the Mechanical Engineering Department of NITP is dedicated towards the
              advancement of technology and science.
              Keeping itself up to date with the latest developments and trends in the field and with a dedicated
              faculty of highly qualified and experienced members in all streams of mechanical engineering,
              the department consistently strives to provide world class facilities for education and research. An
              interactive relationship is maintained between the students and staff which enables
              the students to develop a sound foundation in the stream in a conducive environment. This is also
              reflected in our campus placement our students getting placed in the top industrial houses
              of the country. </div>

            <div id="dop"><strong>
                <div id="header">The Department of Physics</div>
              </strong> was established in 1924 and since then has been functioning as an important part of the
              institute. As of now, the Department has eight faculty members
              At present, there are 12 students enrolled in Integrated M. Sc. And 8 students enrolled in the Ph. D.
              program.
              The Department is mentored by <strong>Prof. K.L.Chopra ,Ex-Director,IIT Kharagpur.</strong></div>

            <div id="dom"><strong>
                <div id="header">The Department of Mathematics</div>
              </strong> was established in 1924 and department offer several courses that support other engineering
              departments.
              Recently a new program Integrated M. Sc. in Mathematics is started and running successfully from the
              academic year 2015-2016.
              Current faculty strength of the department is nine and they are experienced in teaching and research in
              several branches of Mathematics.
              Department of Mathematics is one of the backbone of the Institution as it is an essential department for
              engineering courses up to Ph.D level.</div>

            <div id="doc"><strong>
                <div id="header">The Chemistry department</div>
              </strong> was established in 1924, at the same time the institute was founded. Until recently the
              department has been an auxiliary department
              with limited capacity, running a modest Ph.D. program and offering B. Tech. chemistry course to UG
              students. In the past 3-4 years the department has seen a lot of expansion,
              and with increasing faculty strength the number of UG courses offered to B. Tech students has increased.
              Also, the department's own teaching program, 5 year Integrated M.Sc.
              in Chemistry, has been started in the current academic year (2015-16), and research activity is gradually
              being expanded. The department has been and will remain committed to quality teaching </div>

            <div id="arch"><strong>
                <div id="header">The Department of Architecture</div>
              </strong> is one of the oldest Department of the Institute, which was established in the year 1979. The
              Department offers undergraduate program in architecture,
              Post graduate program in Urban and Regional Planning and Doctoral program. It is committed to provide
              quality teaching and research opportunities to its student.
              Program Education Objectives (PEO's)
              The department is dedicated to producing intellectuals and professionals who are well-versed in the
              state-of-the-art techniques and requisite skills of the profession. The programme also inculcates
              humanist ideas, community values and team spirit to motivate and stimulate creativity. To understand these
              objectives, architecture is taught as a serious, exploratory and creative attempt that
              embraces both the humanities and the sciences.

              Program Outcomes (PO's)
              • An ability to apply knowledge of mathematics, science, engineering to provide architectural Solution
              with respect to built and open spaces.
              • An ability to identify, formulate, design and search alternatives, as well as to analyse and interpret
              data and demographics.
            </div>
          </div>
<!--          <div class="section3"><br>-->
<!--            <div id="myCarousel" class="carousel slide" data-ride="carousel">-->
<!--              <ol class="carousel-indicators">-->
<!--                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>-->
<!--                <li data-target="#myCarousel" data-slide-to="1"></li>-->
<!--                <li data-target="#myCarousel" data-slide-to="2"></li>-->
<!--                <li data-target="#myCarousel" data-slide-to="3"></li>-->
<!--                <li data-target="#myCarousel" data-slide-to="4"></li>-->
<!--                <li data-target="#myCarousel" data-slide-to="5"></li>-->
<!--                <li data-target="#myCarousel" data-slide-to="6"></li>-->
<!--                <li data-target="#myCarousel" data-slide-to="7"></li>-->
<!--                <li data-target="#myCarousel" data-slide-to="8"></li>-->
<!--                <li data-target="#myCarousel" data-slide-to="9"></li>-->
<!--                <li data-target="#myCarousel" data-slide-to="10"></li>-->
<!--                <li data-target="#myCarousel" data-slide-to="11"></li>-->
<!--                <li data-target="#myCarousel" data-slide-to="12"></li>-->
<!--                <li data-target="#myCarousel" data-slide-to="13"></li>-->
<!--                <li data-target="#myCarousel" data-slide-to="14"></li>-->
<!--                <li data-target="#myCarousel" data-slide-to="15"></li>-->
<!--                <li data-target="#myCarousel" data-slide-to="16"></li>-->
<!--                <li data-target="#myCarousel" data-slide-to="17"></li>-->
<!--                <li data-target="#myCarousel" data-slide-to="18"></li>-->
<!--                <li data-target="#myCarousel" data-slide-to="19"></li>-->
<!--                <li data-target="#myCarousel" data-slide-to="20"></li>-->
<!--                <li data-target="#myCarousel" data-slide-to="21"></li>-->
<!--                <li data-target="#myCarousel" data-slide-to="22"></li>-->
<!--                <li data-target="#myCarousel" data-slide-to="23"></li>-->
<!--                <li data-target="#myCarousel" data-slide-to="24"></li>-->
<!--                <li data-target="#myCarousel" data-slide-to="25"></li>-->
<!--                <li data-target="#myCarousel" data-slide-to="26"></li>-->
<!--                <li data-target="#myCarousel" data-slide-to="27"></li>-->

<!--              </ol>-->

<!--              <div class="carousel-inner" id="color-changer" role="listbox">-->
<!--                <div class="item active">-->
<!--                  <img id="n1" src="../static/images/N1.jpg" alt="college main gate">-->
<!--                  <div id="myModal" class="modal">-->
<!--                    <span class="close">&times;</span>-->
<!--                    <img class="modal-content" id="img01">-->
<!--                    <div id="caption"></div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="row item">-->
<!--                  <img src="../static/images/N1.jpg"></div>-->
<!--                <div class="item">-->
<!--                  <img src="../static/images/N2.jpg"></div>-->
<!--                <div class="item">-->
<!--                  <img src="../static/images/N3.jpg"></div>-->
<!--                <div class="item">-->
<!--                  <img src="../static/images/N4.jpg"></div>-->
<!--                <div class="item">-->
<!--                  <img src="../static/images/p5.jpg"></div>-->
<!--                <div class="item">-->
<!--                  <img src="../static/images/p6.jpg"></div>-->
<!--                <div class="item">-->
<!--                  <img src="../static/images/p7.jpg"></div>-->
<!--                <div class="item">-->
<!--                  <img src="../static/images/p8.jpg"></div>-->
<!--                <div class="item">-->
<!--                  <img src="../static/images/p9.jpg"></div>-->
<!--                <div class="item">-->
<!--                  <img src="../static/images/p10.jpg"></div>-->
<!--                <div class="item">-->
<!--                  <img src="../static/images/p11.jpg"></div>-->
<!--                <div class="item">-->
<!--                  <img src="../static/images/p12.jpg"></div>-->
<!--                <div class="item">-->
<!--                  <img src="../static/images/p13.jpg"></div>-->
<!--                <div class="item">-->
<!--                  <img src="../static/images/p14.jpg"></div>-->
<!--                <div class="item">-->
<!--                  <img src="../static/images/p15.jpg"></div>-->
<!--                <div class="item">-->
<!--                  <img src="../static/images/p16.jpg"></div>-->
<!--                <div class="item">-->
<!--                  <img src="../static/images/p17.jpg"></div>-->
<!--                <div class="item">-->
<!--                  <img src="../static/images/p18.jpg"></div>-->
<!--                <div class="item">-->
<!--                  <img src="../static/images/n19.jpg"></div>-->
<!--                <div class="item">-->
<!--                  <img src="../static/images/n20.jpg"></div>-->
<!--                <div class="item">-->
<!--                  <img src="../static/images/n21.jpg"></div>-->
<!--                <div class="item">-->
<!--                  <img src="../static/images/n22.jpg"></div>-->
<!--                <div class="item">-->
<!--                  <img src="../static/images/n23.jpg"></div>-->
<!--                <div class="item">-->
<!--                  <img src="../static/images/n24.jpg"></div>-->
<!--                <div class="item">-->
<!--                  <img src="../static/images/n25.jpg"></div>-->
<!--                <div class="item">-->
<!--                  <img src="../static/images/n26.jpg"></div>-->
<!--                <div class="item">-->
<!--                  <img src="../static/images/n27.jpg"></div>-->
<!--                <div class="item">-->
<!--                  <img src="../static/images/n28.jpg"></div>-->
<!--                <div class="item">-->
<!--                  <img src="../static/images/n1.jpg"></div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">-->
<!--              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>-->
<!--              <span class="sr-only">Previous</span>-->
<!--            </a>-->
<!--            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">-->
<!--              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>-->
<!--              <span class="sr-only">Next</span>-->
<!--            </a>-->
<!--          </div>-->
        </div>
      </section>


      <script>
        $('.ec', '.e', '.c', '.m', '.dop1', '.dom1', '.doc1', '.arch1').click(function () {
          $('#cse').fadeOut();
        });
      </script>
      <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
      <script>
        function myFunction() {
          var x = document.querySelectorAll("#ece,#ee,#ce,#me,#dop,#dom,#doc,#arch");
          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
          }
          var y = document.getElementById("cse");
          if (y.style.display === "none") {
            y.style.display = "block";
          }
        }

        function myFunction1() {
          var x = document.querySelectorAll("#cse,#ee,#ce,#me,#dop,#dom,#doc,#arch");
          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
          }
          var y = document.getElementById("ece");
          if (y.style.display === "none") {
            y.style.display = "block";
          }
        }

        function myFunction2() {
          var x = document.querySelectorAll("#ece,#cse,#ce,#me,#dop,#dom,#doc,#arch");
          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
          }
          var y = document.getElementById("ee");
          if (y.style.display === "none") {
            y.style.display = "block";
          }
        }

        function myFunction3() {
          var x = document.querySelectorAll("#ece,#cse,#ee,#me,#dop,#dom,#doc,#arch");
          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
          }
          var y = document.getElementById("ce");
          if (y.style.display === "none") {
            y.style.display = "block";
          }
        }

        function myFunction4() {
          var x = document.querySelectorAll("#ece,#cse,#ce,#ee,#dop,#dom,#doc,#arch");
          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
          }
          var y = document.getElementById("me");
          if (y.style.display === "none") {
            y.style.display = "block";
          }
        }

        function myFunction5() {
          var x = document.querySelectorAll("#ece,#cse,#ce,#me,#ee,#dom,#doc,#arch");
          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
          }
          var y = document.getElementById("dop");
          if (y.style.display === "none") {
            y.style.display = "block";
          }
        }

        function myFunction6() {
          var x = document.querySelectorAll("#ece,#cse,#ce,#me,#ee,#dop,#doc,#arch");
          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
          }
          var y = document.getElementById("dom");
          if (y.style.display === "none") {
            y.style.display = "block";
          }
        }

        function myFunction7() {
          var x = document.querySelectorAll("#ece,#cse,#ce,#me,#ee,#dom,#dop,#arch");
          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
          }
          var y = document.getElementById("doc");
          if (y.style.display === "none") {
            y.style.display = "block";
          }
        }

        function myFunction8() {
          var x = document.querySelectorAll("#ece,#cse,#ce,#me,#ee,#dom,#doc,#dop");
          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
          }
          var y = document.getElementById("arch");
          if (y.style.display === "none") {
            y.style.display = "block";
          }
        }
      </script>
      <script>
        var modal = document.getElementById("myModal");

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementByClass("n1");
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");
        img.onclick = function () {
          modal.style.display = "block";
          modalImg.src = this.src;
          captionText.innerHTML = this.alt;
        }

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
          modal.style.display = "none";
        }
      </script>
    </section>
  </div>
  {% include 'footer.html' %}
  <script>
    const navSlide = () => {
      const burger = document.querySelector('.burger');
      const nav = document.querySelector('.nav-links');
      const navLinks = document.querySelectorAll('.nav-links li');

      burger.addEventListener('click', () => {
        nav.classList.toggle('nav-active');

        navLinks.forEach((link, index) => {

          if (link.style.animation) {
            link.style.animation = '';
          } else {
            link.style.animation = `navLinkFade 0.5s ease forwards ${index/7+0.3}s`;
          }

        });

        burger.classList.toggle('toggle');

      });


    }
    navSlide();
  </script>
</body>

</html>