{% load static %}

<html>
<head> <meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href="{% static '/css/Home.css' %}">

</head>
<body>
   <nav class="navbar navbar1"> 
   <img  src="{% static 'images/logo.png' %}" width="100" height="100" class="d-inline-block align-top logo" style=""alt="">
   <h1 class="nit">National Institue Of Technology, Patna</h1>
   <div id="nav">
   <a href="/" class="btn btn-primary butt">HOME</a>
   <a href="/" class="btn btn-primary butt">ABOUT OUR COLLEGE</a>
   <a href="/signUp" class="btn btn-primary butt" onClick="parent.location='reg.html'">REGISTER</a>
   <a href="/signIn" class="btn btn-primary butt" onClick="parent.location='login.html'">LOGIN</a> </div>
   </nav>
<h1 style="text-align:center;margin-top:100px;"> THIS IS HOME PAGE.</h1>
<script type="text/javascript">

 </script>
</body>
</html>
