{% load static %}
{% if message %}
    <script>
        alert('{{message}}');
    </script>
{% endif %}
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href="{% static '/css/Login.css' %}">
<head>
<body>
<nav id="home" class="sticky-top">
    <div class="logo">
        <!--   <img  src="{% static 'images/logo.png' %}" width="100" height="100" class="d-inline-block align-top logo" style=""alt="">-->
        <h4>National Institue Of Technology, Patna</h4>
    </div>

    <ul class="nav-links">
        <li>
            <a href="/">Home</a>
        </li>

        <li>
            <a href="#about">About Our College</a>
        </li>

        <li>
        <a href="/signUp" onClick="parent.location='reg.html'">Register</a>
        </li>
        
    </ul>

    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
</nav>    


<div id="log"> 
    <form action="/postsignIn/" method="POST" class="box">
        {% csrf_token %}
        <div class="form-group"><br />
            <h1 style="text-align:center; color: white;"> WELCOME </h1><br>
            <div id="margin">
                <label for="Email" style="color: white;"> Email Address:</label>
                <input type="text" class="form-control box imput-sm" id="email" name="email" placeholder="Enter Email"><br />
                <label for="Pass" style="color: white;"> Password:</label>
                <input type="text" class="form-control box imput-sm" id="pass" name="pass" placeholder="Minimum 8 characters"><br />
                <input type="submit" value="SignIn">
            </div>
        </div>
    </form>
</div>

<script>
    const navSlide = ()=>{
    const burger = document.querySelector('.burger');
    const nav = document.querySelector('.nav-links');
    const navLinks = document.querySelectorAll('.nav-links li');

    burger.addEventListener('click', ()=>{
        nav.classList.toggle('nav-active');

        navLinks.forEach((link, index)=>{

        if(link.style.animation){
            link.style.animation = '';
        }else{
            link.style.animation = `navLinkFade 0.5s ease forwards ${index/7+0.3}s`;
        }

        }); 

        burger.classList.toggle('toggle');

    });  

    
    }
    navSlide();
  </script>

  {% include 'footer.html'%}
</body>
</html>

