{% load static %}

<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href="{% static '/css/Login.css' %}">
<head>
<body>
<nav class="navbar navbar1">
   <h1 class="nit">National Institue Of Technology, Patna</h1>
   <div id="nav">
   <a href="/" class="btn btn-primary buttn">HOME</a>
   <a href="/" class="btn btn-primary buttn">ABOUT OUR COLLEGE</a>
   <a href="/signUp" class="btn btn-primary buttn" onClick="parent.location='reg.html'">REGISTER</a>
   <a href="/signIn" class="btn btn-primary buttn" onClick="parent.location='login.html'">LOGIN</a> </div>
   </nav>

<img src="{% static 'images/logo.png' %}">
<div id="log"> 
<form action="/postsignIn/" method="POST">
    {% csrf_token %}
<div class="form-group"><br />
<h1 style="text-align:center;"> WELCOME </h1><br /><br />
<div id="margin">
<label for="Email"> Email Address:</label>
<input type="text" class="form-control box imput-sm" id="email" name="email" placeholder="Enter Email"><br />
<label for="Pass"> Password:</label>
<input type="text" class="form-control box imput-sm" id="pass" name="pass" placeholder="Minimum 8 characters"><br />
<input type="submit" value="SignIn">
</div>
</form>
</div>
</body>
</html>
