{% load static %}

<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href="{% static '/css/ProfilePage.css' %}">
</head>
<body>
  <nav class="nav sticky-top">

    <div class="ins_name">
        <!--   <img  src="{% static 'images/logo.png' %}" width="100" height="100" class="d-inline-block align-top logo" style=""alt="">-->
        <h4>National Institue Of Technology, Patna</h4>
    </div>

    <ul class="nav-links">
        <li>
          <a href="/" onClick="parent.location='Nav2.html'">Home</a>
        </li>

        <li>
          <a href="/addPost"  onClick="parent.location='Nav2.html'">Add Blog</a>
        </li>

        <li>
          <a href="/search/"  onClick="parent.location='Nav2.html'">Search</a>
        </li>

        <li>
          <a href="/signIn/" onclick= "location.href = '{% url 'log' %}' ">Logout</a>
        </li>
        
    </ul>

    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
</nav>    
<br /><br />

 <div id="first1 mr-10">
<h3 style="text-align:center;">{{name}}
<img src="{{ image }}" class="icon_image"><span class="glyphicon glyphicon-pencil"></span></h3>

<button type="button" class="btn btn-primary" style="margin-left:auto;margin-right:auto;display:block;margin-bottom:0%"
        onclick="location.href='{% url 'edit' %}'">
 Edit Profile</button><br />
<h5 style="text-align:center;">{{ branch }}</h5>
<h5 style="text-align:center;">Your Blogs</h5><br />

<ul>
     <div class="tm-main-content container">
        <section class="tm-section tm-section-small">
         {% for lis_time, date, Descriptions,Departments,Titles,Types,name in comb_lis %}
            <div class="image">
<!--              <img src="../static/images/nit.jpg">-->

                <h1 class="tm-section-header2">Type : {{ Types }} Titles: {{ Titles }}  </h1>
            </div>
            <h3 class="=tm-section-header2">{{time}}</h3>
            <p>{{Descriptions}}</p>
          {% endfor %}

        </section>
      </div>
</ul>
 </div>
<script>
window.location.href = "/profile/";

  const navSlide = ()=>{
  const burger = document.querySelector('.burger');
  const nav = document.querySelector('.nav-links');
  const navLinks = document.querySelectorAll('.nav-links li');

  burger.addEventListener('click', ()=>{
      nav.classList.toggle('nav-active');

      navLinks.forEach((link, index)=>{

      if(link.style.animation){
          link.style.animation = '';
      }else{
          link.style.animation = `navLinkFade 0.5s ease forwards ${index/7+0.3}s`;
      }

      }); 

      burger.classList.toggle('toggle');

  });  

  
  }
  navSlide();
</script>

</body>
</html>
