{% load static %}

<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href="{% static '/css/ProfilePage.css' %}">
    <link rel='stylesheet' href="{% static '/css/nav.css' %}">
</head>
<body>
  <nav class="row navbar navbar1">

    <div class="nav-first">
      <img src="../static/images/nitp.png" class="logo">
     <h1 class=" nit">National Institute Of Technology, Patna</h1>
     <br>
     <span style="margin-left: 50px;margin-right: 50px;">An Institute of National Importance under Ministry of Education, Government of India</span>
  </div>
  
     <div class="nav">
       
      <a href="/" class="btn btn-primary butt" onclick="parent.location='college.html'">Home</a>
      <a href="/addPost" class="btn btn-primary butt" onClick="parent.location='Nav2.html'">Add Blog</a> 
      <a href="/readBlogs/" class="btn btn-primary butt">Blogs</a>
      <a href="/search/" class="btn btn-primary butt" onClick="parent.location='Nav2.html'">Search</a>
      <button class="btn btn-primary butt" onclick= "location.href = '{% url 'log' %}' ">Logout</button>
    </div>
    
    </nav>

 <div class="container">

   <div class="row" id="row1">
     <div class="col-md-12 text-right">

     </div>
   </div>
   <div class="row">
     <div class="col-md-4">
   <div class="tm-main-content profile-content">
    <img src="{{ image }}" class="rounded-circle" style="width:100px; height:100px;"><span class="glyphicon glyphicon-pencil"></span></h3>
       <h3>{{ name }}</h3>
    <h5>{{ branch }}</h5>
     <button type="button" class="btn btn-primary"
      onclick="location.href='{% url 'edit' %}'">
Edit Profile</button>


   </div>
  </div>



  <div class="col-md-8">
        <div class="tm-main-content">
          <h2 style="text-align:center;">Your Blogs</h2><br />
            <section class="tm-section tm-section-small">
            {% for lis_time, date, Descriptions,Departments,Titles,Types,name in comb_lis %}
                <div class="image">
    <!--              <img src="../static/images/nit.jpg">-->

                    <h3 class="tm-section-header2"><strong>Type :</strong> {{ Types }} <strong>Title:</strong> {{ Titles }}  </h3>
                </div>
                <h3 class="=tm-section-header2">{{time}}</h3>
                <p>{{Descriptions}}</p>
              {% endfor %}

            </section>
          </div>
          </div>
        </div>

 </div>

<script>

  const navSlide = ()=>{
  const burger = document.querySelector('.burger');
  const nav = document.querySelector('.nav-links');
  const navLinks = document.querySelectorAll('.nav-links li');

  burger.addEventListener('click', ()=>{
      nav.classList.toggle('nav-active');

      navLinks.forEach((link, index)=>{

      if(link.style.animation){
          link.style.animation = '';
      }else{
          link.style.animation = `navLinkFade 0.5s ease forwards ${index/7+0.3}s`;
      }

      }); 

      burger.classList.toggle('toggle');

  });  

  
  }
  navSlide();
</script>
{% include 'footer.html'%}
</body>
</html>
