{% load static %}
{% if messg %}
    <script>
        alert('{{messg}}');
    </script>
{% endif %}
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel='stylesheet' href="{% static '/css/Registration.css' %}">
</head>
<body>
<nav id="home" class="sticky-top">
    <div class="logo">
        <!--   <img  src="{% static 'images/logo.png' %}" width="100" height="100" class="d-inline-block align-top logo" style=""alt="">-->
        <h4>National Institue Of Technology, Patna</h4>
    </div>

    <ul class="nav-links">
        <li>
            <a href="/">Home</a>
        </li>

        <li>
            <a href="#about">About Our College</a>
        </li>

        <li>
        <a href="/signUp" onClick="parent.location='reg.html'">Register</a>
        </li>

    </ul>

    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
</nav>
<div id="body1">
<div class="row">
<div class="column1"> </div>
<div class="column2">
<h1 class="heading"> Registration Form</h1><br>
<form role="form">
<div class="form-group">
<label for "fname"> Full Name:</label>
<input type="text" class="form-control input-m" id="name" placeholder="Enter name"><br />
<label for="enroll"> Enrollment No.:</label>
<input type="text" class="form-control input-m" id="enroll" placeholder=""><br />
<label for="roll"> Roll No.:</label>
<input type="text" class="form-control input-m" id="enroll" placeholder=""><br />
<label for "branch"> Branch:</label>
<select class="form-control" id="sel">
<option> CSE </option>
<option> ECE </option>
<option> EE </option>
<option> ME </option>
<option> CE </option>
<option> IMSC </option>
</select><br />
<label for="Email"> Email Address:</label>
<input type="text" class="form-control imput-m" id="email" placeholder="Enter Email" title="Use your college Email Id"/><br />
<label for="Pass"> Password:</label>
<input type="text" class="form-control imput-m" id="pass" placeholder="Minimum 8 characters"><br /><br>
<a href="#" class="btn btn-primary btn-lg butt2" onClick="parent.location='Nav2.html'">SUBMIT</a>
</div>
</form>
</div>
</div>  </div><br><br><br>
<script>
const navSlide = ()=>{
    const burger = document.querySelector('.burger');
    const nav = document.querySelector('.nav-links');
    const navLinks = document.querySelectorAll('.nav-links li');

    burger.addEventListener('click', ()=>{
        nav.classList.toggle('nav-active');

        navLinks.forEach((link, index)=>{

        if(link.style.animation){
            link.style.animation = '';
        }else{
            link.style.animation = `navLinkFade 0.5s ease forwards ${index/7+0.3}s`;
        }

        });

        burger.classList.toggle('toggle');

    });


    }
    navSlide();

</script>
{% include 'footer.html'%}
</body>
</html>
