{% load static %}
{% if messg %}
    <script>
        alert('{{messg}}');
    </script>
{% endif %}
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel='stylesheet' href="{% static '/css/Registration.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<body>
<div id="left">
<a href="/signIn" class="btn btn-primary butt" onClick="parent.location='login.html'" >LOGIN</a><br />
<a href="/" class="btn btn-primary butt1" onClick="parent.location='Nav.html'">HOME</a><br />
<a href="/" class="btn btn-primary butt1">ABOUT</a>
</div>
<div id="middle">
<div id="mycarousel" class="carousel slide" data-ride="carousel" style="height:100%;">
<ol class="carousel-indicators">
<li data-target="#mycarousel" data-slide-to="0" class="active"></li>
<li data-target="#mycarousel" data-slide-to="1"></li>
<li data-target="#mycarousel" data-slide-to="2"></li>
</ol>
<div class="carousel-inner" role="button">
<div class="item active">
<img src="{% static 'images/logo.png' %}" width="800px" height="400px"></div>
<div class="item">
<img src="{% static 'images/logo.png' %}" width="800px" height="400px" ></div>
<div class="item">
<img src="{% static 'images/logo.png' %}" width="800px" height="400px" ></div>
</div>
<a class="left carousel-control" href="#mycarousel" data-slide="prev">
<span class="glyphicon glyphicon-chevron-left"></span>
<span class="sr-only">Previous</span>
</a>
<a class="right carousel-control" href="#mycarousel" data-slide="next">
<span class="glyphicon glyphicon-chevron-right"></span>
<span class="sr-only">Next</span>
</a>
</div>

</div>

<div id="right">
<div id="right1">
<form action="/postsignup/" method="POST">
    {% csrf_token %}
<div class="form-group">
<label for="fname"> Full Name:</label>
<input type="text" class="form-control input-sm" id="name" name="name" placeholder="Enter name"><br />
<label for="enroll"> Enrollment No.:</label>
<input type="text" class="form-control imput-sm" id="enrolls" name="enroll" placeholder="Enter Enrollment No."><br />
<label for="roll"> Roll No.:</label>
<input type="text" class="form-control imput-sm" id="roll" name="roll" placeholder="Enter Roll No."><br />
<label for ="branch"> Branch:</label>
<select class="form-control" id="sel">
<option> CSE </option>
<option> ECE </option>
<option> EE </option>
<option> ME </option>
<option> CE </option>
<option> IMSC </option>
</select><br/>
<label for="Email"> Email Address:</label>
<input type="text" class="form-control imput-sm" id="email" name="email" placeholder="Enter Email" title="Use your college Email Id Here"/><br />
<label for="Pass"> Password:</label>
<input type="text" class="form-control imput-sm" id="pass" name="pass" placeholder="Minimum 8 characters"><br />
<input type="submit" value="SignUp" id="signup" style="background-color:black; ">
</div>
</form>
</div>
</div>

<footer class="footer-element">
    <div class="footer-container">
        <div class="inner">
            <div class="content">
                <h3 class="head">DSC NITP - WEB DEPT</h3>
                <div class="borde"></div>
                <p>Hey freshmans!! Welcome to NITP, our journey of four years starts from today,
                    there is a long way to go. We at DSC nitp are here to help you out, you will get every bit of your doubts and 
                    queries solved here... Have a great journey ahead... Best of luck!!!
                </p>
                
            </div>
        </div>
        <div class="inner">
            <div class="social-links">
                <h3 class="head">Contact Us</h3>
                <div class="borde"></div>
                <p style="font-size: 22px;"><i class="fa fa-envelope" style="font-size:24px"></i> abc@gmail.com</p>
                <div class="lin">
                    <i class='fab fa-github' style='font-size:30px'></i>
                    <i class="fab fa-instagram" style="font-size:30px"></i>
                    <i class="fab fa-linkedin" style="font-size:30px"></i>
                    <i class="fab fa-facebook" style="font-size:30px"></i>
                </div>
            </div>
        </div>
        <div class="inner">
            <h3 class="head">Quick Links</h3>
            <div class="borde"></div>
            <ul class="quick-links">
                <li>
                    <a href="#"><i class='fas fa-arrow-up' style='font-size:16px'></i>&nbsp;&nbsp;Back to top</a>
                </li>
                <li>
                    <a href="/"><i class="glyphicon glyphicon-home"></i>&nbsp;&nbsp;Home</a>
                </li>
        
                <li>
                    <a href="#about"><i class='fas fa-search' style='font-size:16px'></i>&nbsp;&nbsp;About Our College</a>
                </li>
        
                <li>
                    <a href="/signUp" onClick="parent.location='reg.html'"><i class='fas fa-comment' style='font-size:16px'></i>&nbsp;&nbsp;Suggestions</a>
                </li>
                
            </ul>
        </div>
        
    </div>

    <div class="bottom">
        <p>&copy; DSC-NITP Web Dept, 2020 all rights reserved <br> Made with <i class='fas fa-heart' style='font-size:16px;color: red;'></i>  by DSC NITP</p>
    </div>
    

</footer>

</body>
</html>