{% load static %}
{% if messg %}
    <script>
        alert('{{messg}}');
    </script>
{% endif %}
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet' href="{% static '/css/Registration.css' %}">
</head>
<body>
<div id="left">
<a href="/signIn" class="btn btn-primary butt" onClick="parent.location='login.html'" >LOGIN</a><br />
<a href="/" class="btn btn-primary butt1" onClick="parent.location='Nav.html'">HOME</a><br />
<a href="/" class="btn btn-primary butt1">ABOUT</a>
</div>
<div id="middle">
<div id="mycarousel" class="carousel slide" data-ride="carousel">
<ol class="carousel-indicators">
<li data-target="#mycarousel" data-slide-to="0" class="active"></li>
<li data-target="#mycarousel" data-slide-to="1"></li>
<li data-target="#mycarousel" data-slide-to="2"></li>
</ol>
<div class="carousel-inner" role="button">
<div class="item active">
<img src="{% static 'images/logo.png' %}" width="800px" height="400px"></div>
<div class="item">
<img src="{% static 'images/logo.png' %}" width="800px" height="400px" ></div>
<div class="item">
<img src="{% static 'images/logo.png' %}" width="800px" height="400px" ></div>
</div>
<a class="left carousel-control" href="#mycarousel" data-slide="prev">
<span class="glyphicon glyphicon-chevron-left"></span>
<span class="sr-only">Previous</span>
</a>
<a class="right carousel-control" href="#mycarousel" data-slide="next">
<span class="glyphicon glyphicon-chevron-right"></span>
<span class="sr-only">Next</span>
</a>
</div>

</div>

<div id="right" style="float: right;">
<div id="right1">
<form action="/postsignup/" method="POST">
    {% csrf_token %}
<div class="form-group">
<label for="fname"> Full Name:</label>
<input type="text" class="form-control input-sm" id="name" name="name" placeholder="Enter name"><br />
<label for="enroll"> Enrollment No.:</label>
<input type="text" class="form-control imput-sm" id="enrolls" name="enroll" placeholder="Enter Enrollment No."><br />
<label for="roll"> Roll No.:</label>
<input type="text" class="form-control imput-sm" id="roll" name="roll" placeholder="Enter Roll No."><br />
<label for ="branch"> Branch:</label>
<select class="form-control" id="sel">
<option> CSE </option>
<option> ECE </option>
<option> EE </option>
<option> ME </option>
<option> CE </option>
<option> IMSC </option>
</select><br />
<label for="Email"> Email Address:</label>
<input type="text" class="form-control imput-sm" id="email" name="email" placeholder="Enter Email" title="Use your college Email Id Here"/><br />
<label for="Pass"> Password:</label>
<input type="text" class="form-control imput-sm" id="pass" name="pass" placeholder="Minimum 8 characters"><br />
<input type="submit" value="SignUp" id="signup" style="background-color:black; ">
</div>
</form>
</div>
</div>
</body>
</html>