{% load static %}

<html lang="en">
<head>
  <title>User's List</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Search.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel='stylesheet' href="{% static '/css/Search.css' %}">

</head>
<body>
<nav class="navbar navbar1 sticky-top" style="height: 90px;">
<div class="media txt">
        <div class="media-left media-top">
          <img src="https://i.pinimg.com/originals/cb/33/49/cb3349b86ca661ca61ae9a36d88d70d4.png" class="media-object" style="width:80px">
        </div>
        <div class="media-body">
          </div>
        </div>
<!--     <form class="form-inline w-1900" method="post" action="/search/" style="margin:auto;max-width:2000px">-->
<!--         {% csrf_token %}-->
<!--          <div class="media">-->
<!--              <div class="md-form active-pink active-pink-2 mb-3 mt-0">-->
<!--  <input class="form-control" type="text" placeholder="Enter name..." aria-label="Search.." name="search" id="search">-->
<!--</div>-->
<!--&lt;!&ndash; Search form &ndash;&gt;-->


<!--    <button class="btn btn-primary" type="submit">Find</button>-->

<!--          </div>-->
<!--  </form>-->

    <div id="nav">
 <a href="/" class="btn btn-primary butt1" onClick="parent.location='Nav2.html'" style="margin-right:40px; background-color:#26324a; border-color:#26324a;">Home</a>
  <a href="/addPost" class="btn btn-primary butt1" onClick="parent.location='Nav2.html'"style="margin-right:40px; background-color:#26324a; border-color:#26324a;">Add Blog</a>
  <button type="button" onclick= "location.href = '{% url 'log' %}' " class="btn btn-primary butt1" style="margin-right:40px; background-color:#26324a; border-color:#26324a;">Logout</button>
   </div>
    </div>

</nav>


<div class="tm-container">
      <div class="tm-main-content">
<!--        <section class="tm-section tm-section-small">-->
<!--            <h1>Here are the results:</h1>-->
<!--            <div class="image">-->
<!--                <h3 class="tm-section-header2">Course: {{ fileurl }} </h3>-->
<!--            </div>-->
<!--        </section>-->
<!--          <iframe src={fileurl} style="width:600px; height:500px;" frameborder="0"></iframe>-->
<embed
    src={{fileurl}}
    type="application/pdf"
    frameBorder="0"
    scrolling="auto"
    height="100%"
    width="100%"
></embed>
      </div>

  <br>
  <script>
    $(document).ready(function(){
      $('.dropdown-submenu a.test').on("click", function(e){
        $(this).next('ul').toggle();
        e.stopPropagation();
        e.preventDefault();
      });
    });
    </script>
</div>
</body>
</html>
