{% load static %}


<html lang="en">
<head>
  <title>User's List</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="Search.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel='stylesheet' href="{% static '/css/Search.css' %}">

</head>
<body>
<nav class="navbar navbar1 sticky-top" style="height: 90px;">
<div class="media txt">
        <div class="media-left media-top">
          <img src="https://i.pinimg.com/originals/cb/33/49/cb3349b86ca661ca61ae9a36d88d70d4.png" class="media-object" style="width:80px">
        </div>
        <div class="media-body">
          <h4 class="media-heading">Pikachu
          </h4>
          <p>Pokemon</p>
          </div>
        </div>
     <form class="form-inline w-1900" action="/" style="margin:auto;max-width:2000px">
          <div class="media">
              <div class="md-form active-pink active-pink-2 mb-3 mt-0">
  <input class="form-control" type="text" placeholder="Search" aria-label="Search..">
</div>
<!-- Search form -->
<!--<input class="form-control" type="text" placeholder="Search" aria-label="Search">-->
              <button class="btn btn-primary" type="submit">Find</button>
    <ul class="nav navbar-nav navbar-left">
<!--   <li> <div class="container">-->
<!--        <div class="dropdown btn btn-light">-->
<!--&lt;!&ndash;          <button class="btn btn-light" type="button" data-toggle="dropdown">Filter&ndash;&gt;-->
<!--          <span class="caret"></span></button>-->
<!--          <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">-->
<!--            <li class="dropdown-submenu" role="presentation">-->
<!--                <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">-->
<!--              <a class="test" tabindex="-1" href="#">Branch<span class="caret"></span></a></button>-->
<!--                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">-->
<!--                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">CSE</a></li>-->
<!--                    <li role="presentation" class="divider"></li>-->
<!--                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">ECE</a></li>-->
<!--                    <li role="presentation" class="divider"></li>-->
<!--                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">EE</a></li>-->
<!--                    <li role="presentation" class="divider"></li>-->
<!--                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">CE</a></li>-->
<!--                  </ul>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </div>-->
<!--    </li>-->
    </ul>
          </div>
  </form>

    <div id="nav">
 <a href="/" class="btn btn-primary butt1" onClick="parent.location='Nav2.html'" style="margin-right:40px; background-color:#26324a; border-color:#26324a;">Home</a>
  <a href="/addPost" class="btn btn-primary butt1" onClick="parent.location='Nav2.html'"style="margin-right:40px; background-color:#26324a; border-color:#26324a;">Add Blog</a>
  <button type="button" onclick= "location.href = '{% url 'log' %}' " class="btn btn-primary butt1" style="margin-right:40px; background-color:#26324a; border-color:#26324a;">Logout</button>
   </div>
    </div>
</nav>
<br>

<div class="container">
    <table class="table table-striped">
        <tbody>
            <tr>
    <div class="card bg-secondary text-white">
    <div class="media">
        <div class="media-left media-top">
          <img src="https://s3.india.com/wp-content/uploads/2020/09/pjimage-32.jpg" class="media-object" style="width:80px">
        </div>
        <div class="media-body">
          <h4 class="media-heading">Kangana Ranaut
          </h4>
          <p>Mechanical Engineering(2019-2023)</p>
          </div>
        </div>
      </div>
            </tr>
            <br>
         <tr>
    <div class="card bg-secondary text-white">
    <div class="media">
        <div class="media-left media-top">
          <img src="https://s3.india.com/wp-content/uploads/2020/09/pjimage-32.jpg" class="media-object" style="width:80px">
        </div>
        <div class="media-body">
          <h4 class="media-heading">Kangana Ranaut
          </h4>
          <p>Mechanical Engineering(2019-2023)</p>
          </div>
        </div>
      </div>
            </tr> <br><tr>
    <div class="card bg-secondary text-white">
    <div class="media">
        <div class="media-left media-top">
          <img src="https://s3.india.com/wp-content/uploads/2020/09/pjimage-32.jpg" class="media-object" style="width:80px">
        </div>
        <div class="media-body">
          <h4 class="media-heading">Kangana Ranaut
          </h4>
          <p>Mechanical Engineering(2019-2023)</p>
          </div>
        </div>
      </div>
            </tr> <br><tr>
    <div class="card bg-secondary text-white">
    <div class="media">
        <div class="media-left media-top">
          <img src="https://s3.india.com/wp-content/uploads/2020/09/pjimage-32.jpg" class="media-object" style="width:80px">
        </div>
        <div class="media-body">
          <h4 class="media-heading">Kangana Ranaut
          </h4>
          <p>Mechanical Engineering(2019-2023)</p>
          </div>
        </div>
      </div>
            </tr> <br><tr>
    <div class="card bg-secondary text-white">
    <div class="media">
        <div class="media-left media-top">
          <img src="https://s3.india.com/wp-content/uploads/2020/09/pjimage-32.jpg" class="media-object" style="width:80px">
        </div>
        <div class="media-body">
          <h4 class="media-heading">Kangana Ranaut
          </h4>
          <p>Mechanical Engineering(2019-2023)</p>
          </div>
        </div>
      </div>
            </tr> <br><tr>
    <div class="card bg-secondary text-white">
    <div class="media">
        <div class="media-left media-top">
          <img src="https://s3.india.com/wp-content/uploads/2020/09/pjimage-32.jpg" class="media-object" style="width:80px">
        </div>
        <div class="media-body">
          <h4 class="media-heading">Kangana Ranaut
          </h4>
          <p>Mechanical Engineering(2019-2023)</p>
          </div>
        </div>
      </div>
            </tr> <br><tr>
    <div class="card bg-secondary text-white">
    <div class="media">
        <div class="media-left media-top">
          <img src="https://s3.india.com/wp-content/uploads/2020/09/pjimage-32.jpg" class="media-object" style="width:80px">
        </div>
        <div class="media-body">
          <h4 class="media-heading">Kangana Ranaut
          </h4>
          <p>Mechanical Engineering(2019-2023)</p>
          </div>
        </div>
      </div>
            </tr><br> <tr>
    <div class="card bg-secondary text-white">
    <div class="media">
        <div class="media-left media-top">
          <img src="https://s3.india.com/wp-content/uploads/2020/09/pjimage-32.jpg" class="media-object" style="width:80px">
        </div>
        <div class="media-body">
          <h4 class="media-heading">Kangana Ranaut
          </h4>
          <p>Mechanical Engineering(2019-2023)</p>
          </div>
        </div>
      </div>
            </tr><br> <tr>
    <div class="card bg-secondary text-white">
    <div class="media">
        <div class="media-left media-top">
          <img src="https://s3.india.com/wp-content/uploads/2020/09/pjimage-32.jpg" class="media-object" style="width:80px">
        </div>
        <div class="media-body">
          <h4 class="media-heading">Kangana Ranaut
          </h4>
          <p>Mechanical Engineering(2019-2023)</p>
          </div>
        </div>
      </div>
            </tr> <br><tr>
    <div class="card bg-secondary text-white">
    <div class="media">
        <div class="media-left media-top">
          <img src="https://s3.india.com/wp-content/uploads/2020/09/pjimage-32.jpg" class="media-object" style="width:80px">
        </div>
        <div class="media-body">
          <h4 class="media-heading">Kangana Ranaut
          </h4>
          <p>Mechanical Engineering(2019-2023)</p>
          </div>
        </div>
      </div>
            </tr> <tr>
    <div class="card bg-secondary text-white">
    <div class="media">
        <div class="media-left media-top">
          <img src="https://s3.india.com/wp-content/uploads/2020/09/pjimage-32.jpg" class="media-object" style="width:80px">
        </div>
        <div class="media-body">
          <h4 class="media-heading">Kangana Ranaut
          </h4>
          <p>Mechanical Engineering(2019-2023)</p>
          </div>
        </div>
      </div>
            </tr>





        </tbody>
    </table>
</div>

  
  <br>
  
  <script>
    $(document).ready(function(){
      $('.dropdown-submenu a.test').on("click", function(e){
        $(this).next('ul').toggle();
        e.stopPropagation();
        e.preventDefault();
      });
    });
    </script>
    {% include 'footer.html'%}
</body>
</html>
